# <헷갈리는 문법 여기서 실행>

In [8]:
list([int(i) for i in str(12345)])

[1, 2, 3, 4, 5]

In [9]:
list([int(i) for i in str(12345)])[::-1]

[5, 4, 3, 2, 1]

In [46]:
## 틀린 풀이 (몇 개 비정상 동작) ##
def solution(n):
    sqrt=int(n)**(1/2)
    if str(sqrt).isdigit()==True:
        return (sqrt+1)**2
    return -1

In [60]:
## n <= 0 조건 넣어줘야 한다. ##
import math

def solution(n):
    if int(math.sqrt(n)) == math.sqrt(n):
        return int((math.sqrt(n)+1)**2)
    return -1

In [50]:
solution(121)

144

In [70]:
int("".join(sorted((str(118372)), reverse=True)))

873211

In [89]:
n=12
sum([int(str(n)[i]) for i in range(0, len(str(n)))])

3

In [95]:
def solution(signs, absolutes):
    answer=0
    for idx in range(0, len(signs)):
        if signs[idx]==True:
            answer+=absolutes[idx]
        else:
            answer-=absolutes[idx]
    return answer

In [96]:
solution([True, False, True], [4,7,12])

9

In [127]:
def solution(seoul):
    for idx in range(0, len(seoul)):
        if seoul[idx]=="Kim":
            return f'김서방은 {idx}에 있다.'

In [128]:
solution(["Jane", "Kim"])

'김서방은 1에 있다.'

In [129]:
def solution(seoul):
    for idx in range(0, len(seoul)):
        if seoul[idx]=="Kim":
            return "김서방은 {}에 있다".format(idx)

In [130]:
solution(["Jane", "Kim"])

'김서방은 1에 있다'

In [135]:
def solution(n):
    result=0 # count
    count=0 # 500번 반복 시 1 되지 않는 경우, -1 반환
    
    if n==1:
        return 1
    
    while True:
        if n%2==0: # 짝수
            n=n//2
            result+=1
            if n==1:
                return result
        else: # 홀수
            n=n*3+1
            result+=1
            if n==1:
                return result
        count+=1
        
        if count==500:
            return -1

In [136]:
solution(626331)

-1

In [143]:
def solution(numbers):
    # n : 비교하고자 하는 숫자
    result=0
    for n in range(10):
        if n not in numbers:
            result+=n
    return result

In [144]:
solution([1, 2, 3, 4, 6, 7, 8, 0])

14

In [175]:
def solution(arr, divisor):
    answer=[]
    for num in arr:
        if num%divisor==0:
            answer.append(num)
            
    if answer==[]:
        return [-1]
    elif len(answer)==len(arr):
        return sorted(answer)
    return answer

In [176]:
solution([3, 2, 6], 10)

[-1]

In [179]:
len("027778888"[:-4])

5